@import url('./Modal.module.css');
@import url('./Layout.module.css');
@import url('./SearchBar.module.css');
@import url('./DisplayPlaces.module.css');
@import url('./DoubleRangeSlider.module.css');
@import url('./FilterBox.module.css');
@import url('./AuthModal.module.css');
@import url('./NavBarOwner.module.css');
@import url('./OwnerPage.module.css');
@import url('./PropertyForm.module.css');
@import url('./DateRangePicker.module.css');
@import url('./Landing.module.css');
@import url('./AdminLogin.module.css');
@import url('./AdminNavBar.module.css');
@import url('./AdminDashboard.module.css');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Ubuntu, Droid Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

input:-webkit-autofill {
  -webkit-text-fill-color: #000000;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset; 

}

@layer components {
  .ch-1 {
    @apply text-3xl font-bold text-black
  }

  .ch-2 {
    @apply text-2xl font-bold
  }

  .ch-3 {
    @apply text-xl font-semibold
  }

  .ch-text {
    @apply text-base text-slate-600
  }

  .container {
    @apply pt-header
  }

  .page-container {
    @apply py-16 px-8 md:px-16 lg:px-20 
  }

  .primary-button {
    @apply bg-primary-orange rounded-full h-10 text-white text-lg py-1 px-6 cursor-pointer
  }

  .primary-button.disabled {
    @apply opacity-40 cursor-default
  }

  .primary-button.disabled:hover {
    @apply bg-primary-orange
  }

  .primary-button:hover {
    @apply bg-secondary-orange
  }

  .underline-button {
    @apply font-semibold underline
  }

  .underline-button:hover {
    @apply text-primary-orange
  }

  .input-group__title {
    @apply font-normal text-lg mb-2
  }

  .input-group__input-box {
    @apply bg-white border border-gray-400 rounded-lg p-3 h-10
  }

  .input-group__input-box:focus {
    @apply outline-none border-2
  }

  .loader-container {
    @apply w-screen h-screen text-center absolute top-[50%]
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-md m-2
  }

}
